.table{
    border-collapse: collapse;
    text-align: left;
}

.table th{
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-size: 0.7rem;
    background-color: var(--clr-primary);
}